spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: customer-service
          uri: lb:http://CUSTOMER-SERVICE
          predicates:
            - Path=/api/v1/customer/**
        - id: order-service
          uri: lb:http://ORDER-SERVICE
          predicates:
              - Path=/api/v1/orders/**
        - id: product-service
          uri: lb:http://PRODUCT-SERVICE
          predicates:
              - Path=/api/v1/products/**

  application:
    name: gateway-service


management:
  tracing:
    sampling:
      probability: 1.0
    zipkin:
      tracing:
        endpoint: http://localhost:9411/api/v2/spans

server:
  port: 8222
